.main-context {
  display: grid;
  grid-template-columns: 15% 80%;
  gap: 20px;
}

.draggable-part {
  background-color: #f4f4f7;
  padding: 10px;
  height: 100vh;
  border-right: 1px solid rgb(0, 0, 0, 0.2);
}
.droppable-part {
  padding: 10px;
  margin: 20px;
}

.input__element {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  margin: 10px;
}

.dragging {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.indicator {
  background-color: rgb(92, 107, 192);
}

.input__box {
  margin: 10px 0;
}

.margin-10 {
  margin: 10px 0;
}

.output__element {
  padding: 20px;
  border: 1px solid #f4f4f7;
  border-left: 5px solid #757ce8;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.output_text {
  padding: 10px;
}

.delete-btn {
  opacity: 0;
  display: flex;
  background-color: rgb(179, 72, 72);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
  font-weight: 500;
}

.edit-btn {
  opacity: 0;
  display: flex;
  background-color: transparent;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

.output__element:hover .delete-btn {
  opacity: 1;
}

.output__element:hover .edit-btn {
  opacity: 1;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.select {
  width: 95%;
  padding: 10px;
  margin: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.active-bg{
  background-color: rgba(240, 240, 240, 0.4);
  border: 1px dotted rgba(0, 0, 0, 0.9);
}

textarea{
  width: 95%;
  resize: none;
}
textarea:focus{
  outline: 1px solid #b0b5fd;
}

table, td, th, tr{
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 10px;
}

table th{
  background-color: black;
  color: white;
  border: 1px solid white;
}