.main-context {
  display: grid;
  grid-template-columns: 15% 80%;
  gap: 20px;
}

.draggable-part {
  background-color: #f4f4f7;
  padding: 10px;
  height: 97vh;
  border-right: 1px solid rgb(0, 0, 0, 0.2);
}
.droppable-part {
  padding: 10px;
}

.input__element {
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  margin: 10px;
}

.dragging {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.indicator {
  background-color: rgb(92, 107, 192);
}
